<footer class="form-footer">
  {{#each buttons as |button|}}
  <button type="{{button.type}}" {{#if button.action}}data-action="{{button.action}}"{{/if}} {{#if button.disabled}}disabled{{/if}}>
    {{#if button.icon}}<i class="{{button.icon}}"></i>{{/if}}
    {{localize button.label}}
  </button>
  {{/each}}
</footer>
