<div class="state-debug-content">
  <div class="debug-header">
    <h3>TrapDialog State</h3>
    <p class="last-update">Last Update: {{lastUpdate}}</p>
  </div>

  <pre class="state-json">{{stateJson}}</pre>
</div>
